body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slide-red a {
    background-color: #fafafa;
    color: red;
    text-decoration: none;
    margin-top: 12px;
    font-weight: bolder;
    width: 100%;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
}

.slide-red a:hover {
    background-color: rgb(234, 227, 227);
}

.slide-red, .slide-second {
    list-style: none;
}

.slide-second a {
    text-decoration: none;
    margin-top: 12px;
    width: 100%;
    display: inline-block;
    font-weight: bolder;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
}

.slide-second a:hover {
    background-color: rgb(234, 227, 227);
}

.first-slide-bar-ul {
    padding: 0px;
    background-color: #FFFFFF;
    margin: 0px;
}

.mid-box-one {
    border: solid;
    font-size: 22px;
    padding: auto;
    border-radius: 100px;
    width: 123px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: end;
}

.side-home-box1 {
    display: flex;
}

.side-home-box1 p:hover {
  
    color: red;
}

.box1 {
    border: solid;
    width: 150px;
    background-color: #F6F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.001cm;
    font-weight: bold;
    border-radius: 100px;
    margin-left: 32px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box1 p {
    position: relative;
    top: 8px;
}

.side-home-box1 :hover  {
    
    color: white;
}

.home-side-interview {
    margin-top: 32px;
}

.home-side-img {
    width: 100%;
}

.home-side-imgs {
    padding: 32px;
    background-color: #F5F5F5;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.first-slide-bar {
    display: block;
}

.first-slide-bar.open {
    display: block;
}

@media screen and (max-width: 768px) {
    .box1 {
        border-radius: 50px;
        width: 200px;
        margin-left: 5px;
        font-weight: bold;
    }

    .box1 p {
        position: relative;
        top: 10px;
    }

    .side-home-box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-menu {
        display: block;
    }

    .first-slide-bar {
        display: none;
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        flex-direction: column; /* Stack items vertically */
    }

    .first-slide-bar.open {
        display: flex;
    }
    
    .first-slide-bar-ul {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the items in the ul */
    }
    
   
    .first-slide-bar-ul li {
        width: 100%;
        font-size: 28px; /* Ensure the li elements take full width */
    }

    .slide-red a, .slide-second a {
        text-align: center;
    }
}
