.Get-response{
    background: linear-gradient(to right,#F6E9E1,#F2F6F8,#E4F7F8) !important;

}
.response-why{
font-family: Rubik, Helvetica, Arial, sans-serif;
font-size: 32px;
font-weight: 600;
line-height: normal;
color:#00A2FF

}
.respnseget{
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    font-family:Rubik, Helvetica, Arial, sans-serif ;
}
.main-whyget{
    margin-top: 56px;
}
.get-box{
    
    margin-top: 50px;
    padding:33px;
}

.get-box h1{
    font-weight: bolder;
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 51px;
}
.get-box p{
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align:justify;
    margin-top: 23px;
    font-weight: bold;
    line-height: normal;
}
@media screen and (max-width:600px) {
    .get-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:56px;
        padding-right: 56px;
        padding-top:0px ;
    }
    .get-box p{
        text-align: center;
    }
    
}
@media screen and (min-width:600px)  and (max-width:990px){
    .get-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:66px;
        padding-right: 56px;
        padding-top:0px ;
    }
    
}
@media screen and (max-width:280px) {
    .response-why{
        font-size: 18px;

    }
    .respnseget{
        font-size: 18px;
    }
    
}