* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    overflow-x: hidden;
}
.search{
    height: 38px;
    padding:15px;
}

.nav-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linear {
    background: linear-gradient(to right, #80D8DA, #A1B566, #FD7E14, #E83E8C);
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-li {
    background-color: #E83E8C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    width: 100px;
    height: 38px;
    background-color: #0775C0;
    color: white;
}

.search-btn:hover {
    background: linear-gradient(to right, #80D8DA, #A1B566, #FD7E14, #E83E8C);
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 12px;
    width: auto;
    list-style: none;
}

.nav-icons i {
    text-decoration: none;
    height: 33px;
    width: 34px;
    border-radius: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    margin-right: 4px;
    background-color: white;
    color: #E83E8C;
}

.nav-icons i:hover {
    background-color: red;
    color: white;
}

.nav-icons a {
    text-decoration: none;
}

.second-nav-ul {
    display: flex;
    justify-content: start;
    position: relative;
    top: 8px;
    align-items: end;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.second-nav a {
    text-decoration: none;
    margin-right: 23px;
    color: white;
}

.second-nav {
    font-weight: bolder;
    margin-left: auto;
    background-color: #0775C0;
}

.icon-btn-login {
    border: solid;
    width: 60px;
    border-radius: 9px;
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    margin-right: 5px;
    background-color: white;
    color: #E83E8C;
}

.icon-btn-login:hover {
    background-color: red;
    color: white;
}

.second-ul-b {}

.nav-row {}

@media screen and (max-width: 768px) {
    .nav-search-btn {
        display: none;
    }

    .second-none {
        display: none;
    }

    .second-nav-ul {
        font-size: 10px;
        margin: auto;
        padding: auto;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 34px;
        top: 0px;
        flex-wrap: nowrap;
    }

    .nav-icons {
        margin-top: 23px;
        justify-content: center;
        top: 0px;
    }

    .nav-icons i {
        border-color: white;
    }

    .nav-li {
        background: linear-gradient(to right, #80D8DA, #A1B566, #FD7E14, #E83E8C);
    }

    .icon-btn-login {
        border-color: white;
    }
}
